@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
	@apply scroll-smooth ;
}

.bg-photo {
	background: url('/img/bg.webp') fixed center center/cover;
}

.bg-program {
	background: url('/img/program.webp') fixed right center/cover;
}

.bg-display {
	background: url('/img/bgred.webp') fixed center center/cover;
}

