@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'gerak';
		src: url('./assets/font/Gerak.otf');
    font-display: swap;
	}
	@font-face {
		font-family: 'lato';
		src: url('./assets/font/Lato-Regular.ttf');
    font-display: swap;
	}
	@font-face {
		font-family: 'lato-light';
		src: url('./assets/font/Lato-Light.ttf');
    font-display: swap;
	}
	@font-face {
		font-family: 'lato-thin';
		src: url('./assets/font/Lato-Thin.ttf');
    font-display: swap;
	}
	@font-face {
		font-family: 'lato-bold';
		src: url('./assets/font/Lato-Bold.ttf');
    font-display: swap;
	}
	@font-face {
		font-family: 'lato-black';
		src: url('./assets/font/Lato-Black.ttf');
    font-display: swap;
	}
	
}

body, html {
	@apply scroll-smooth font-lato;
}

.bg-photo {
	background: url(./assets/img/bg.webp) fixed center center/cover;
}

.bg-program {
	background: url(./assets/img/program.webp) fixed right center/cover;
}

.bg-display {
	background: url(./assets/img/bgred.webp) fixed center center/cover;
}